aqandu/crud.py
aqandu/model_datastore.py
config.py
config.production.py
aqandu/templates/base old.html
aqandu/templates/form.html
aqandu/templates/index new.html
aqandu/templates/list.html
env/
*all_*
aqandu/static/.webassets-cache
aqandu/static/.webassets-manifest
*__pycache__*
*.DS_Store
aqandu/static/svgs-26-03-2018-13-40/
aqandu/static/sample_data/