#SLC-map {
  height: 500px;
  width: 100%;
  margin-top: 20px;
}

svg text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 8pt;
}

.label.timeline {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 8pt;
}

/* MARKERS */

.green {
  background-color: rgb(0,228,0);
}
.yellow {
  background-color: rgb(255,255,0);
}
.orange {
  background-color: rgb(255,126,0);
}
.red {
  background-color: rgb(255,0,0);
}
.veryUnhealthyRed {
  background-color: rgb(153, 0, 76);
}
.hazardousRed {
  background-color: rgb(126, 0, 35);
}

.dot {
  /*  border-radius: 20px; */
  border-radius: 10px;
  border: 3px solid #FFFFFF;
}
.dot.green {
  background-color: rgb(0,228,0);
}
.dot.yellow {
  background-color: rgb(255,255,0);
}
.dot.orange {
    background-color: rgb(255,126,0);
}
.dot.red {
  background-color: rgb(255,0,0);
}
.dot.veryUnhealthyRed {
  background-color: rgb(153, 0, 76);
}
.dot.hazardousRed {
  background-color: rgb(126, 0, 35);
}
.dot.noColor {
  background-color: rgba(255,255,255,0);
}
.dot.green.notPartOfGroup {
  background-color: rgba(0,228,0,0.1);
}
.dot.yellow.notPartOfGroup {
  background-color: rgba(255,255,0,0.1);
}
.dot.orange.notPartOfGroup {
  background-color: rgba(255,126,0,0.1);
}
.dot.red.notPartOfGroup {
  background-color: rgba(255,0,0,0.1);
}
.dot.veryUnhealthyRed.notPartOfGroup {
  background-color: rgb(153, 0, 76 , 0.1);
}
.dot.hazardousRed.notPartOfGroup {
  background-color: rgb(126, 0, 35, 0.1);
}
.dot.noColor.notPartOfGroup {
  background-color: rgba(255,255,255,0);
}

.dot.sensor-selected {
  border: 3px solid #000000;
}

.dot.partOfGroup-border {
  border: 3px solid #808080;
}

/* .leaflet-popup-content {
  margin: 0px;
} */

#timelineControls label {
  font-family: 'Open Sans', sans-serif;
  /* font-weight: bold; */
  font-size: 10pt;
  color: #555;

  margin-right: 15px;
  line-height: 32px;
}

#clearDataButton {
  font-family: 'Open Sans', sans-serif;
  /* font-weight: bold; */
  font-size: 10pt;
  color: #555;

  margin-left: 30px;
}

input:invalid ~ span:after {
    content: '✖';
    padding-left: 5px;
    position: absolute:
}

input:valid ~ span:after {
    content: '✓';
    padding-left: 5px;
    position: absolute:
}

#clearDataButton:hover, #clearDataButton:active {
  text-decoration: underline #c00;
}

/* Popup */
.sensorInformationPopup .leaflet-popup-content-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  box-shadow: none;

  /* font-family: Frutiger;
  font-weight: bold; */
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 8pt;

  border-radius: 0px;
  padding: 0px;
}

.sensorInformationPopup.leaflet-popup {
  margin-bottom: 5px;
}

.sensorInformationPopup .leaflet-popup-content {
  margin: 0px 5px 13px 5px;
}

.sensorInformationPopup .leaflet-popup-tip-container {
  display: none;
}

/* TIMELINE */
#timeline {
  margin-top: 10px;
}

.legend {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  /* width: 100px; */
  height: 102px;
  float: left;
  margin-right: 8px;
  opacity: 0.9;
  padding: 6px 8px;

  background: white;
  display: inline-block;
}
.legend label.sensorType {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 8pt;
  color: #555;

  line-height: 18px;
  margin: 0px 0px 0px 10px;
  display: block;
}

/* .legend label.sensorType:hover, .legend label.sensorType:active {
  /* background: red; */
  /* text-decoration: underline #c00; */
/* } */

.clickedLegendElement {
  text-decoration: underline #808080;
}

/* .txt {
  font-size: 14px;
  line-height: 1.45;
} */

.colorLegend {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  background: white;
  opacity: 0.9;

  /* color: #555; */
  height: 138px;
  padding: 6px 8px;
}
.colorLegend .legendTitle, .legend .legendTitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 8pt;
  line-height: 18px;

  margin-bottom: .2em;
}
.colorLegend label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 8pt;
  color: #555;

  line-height: 18px;
  margin: 0pt;
}
.colorLegend label i {
  width: 18px;
  height: 18px;
  float: left;
  padding: 2px 0px;
  margin-right: 8px;
}

.line-style {
  fill: none;
  stroke: #aaa;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1px;
  /* shape-rendering: crispEdges; */
}
@media(min-width: 992px) {
  .col-md-6 {
    width: 30%;
    margin-bottom: 120px:
  }
}

.logoRow {
  text-align: center;
}

.navbar{
  margin-bottom: 0px;
}

.main-raised{
  margin-top: -140px;
}
.carousel-indicators{
  margin-bottom: 660px;
}


/* The start of the css for multi-line voronoi from mike bostock's example */
.axis--y path {
  display: none;
}

.hover {
  stroke: #000;
}

/* .focus {
  z-index: 1000;
} */

.focus circle {
  fill: none;
  stroke: black;
}

.focus text {
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.voronoi path {
  fill: none;
  pointer-events: all;
  /*stroke: #bada55;*/
}

#form {
  position: absolute;
  top: 20px;
  right: 30px;
}

.tooltip {
  pointer-events:none; /*let mouse events pass through*/
  position: absolute;
  background: #000;
  color: #FFF;
  border-radius: 5px;
  padding: 5px 7px;
  width: 170px;
  height: 110px;
}

.tooltip:before{
  border: solid;
  border-color: #000 transparent;
  border-width: 6px 6px 0 6px;
  top: 110px; /* same as height .tooltip*/
  content: "";
  /* left: calc(50% - 6px); */
  left: 8px;
  position: absolute;
  z-index: 99;
}

.tooltipText {
  font-family: 'Open Sans', sans-serif;
  font-size: 8pt;
  margin: 5px 0px;
}

.tooltip.hidden {
  opacity: 0;
}

.tooltip.show {
  opacity: 1;
}
