#main-page {
  height: 100%;
  width: 100%;
}

#SLC-map {
  position: absolute;
  top: 44px;
  height: calc(100% - 44px);
  width: 100%;
}

svg text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 8pt;
}

.label.timeline {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 8pt;
}

/* MARKERS */

.green {
  background-color: rgb(166, 217, 106);
}
.green1 {
  background-color: rgb(49, 163, 84);
}
.green2 {
  background-color: rgb(161, 217, 155);
}
.green3 {
  background-color: rgb(229, 245, 224);
}
.yellow {
  background-color: rgb(255, 255, 191);
}
.yellow1 {
  background-color: rgb(255, 255, 204);
}
.yellow2 {
  background-color: rgb(255, 237, 160);
}
.yellow3 {
  background-color: rgb(254, 217, 118);
}
.orange {
  background-color: rgb(253, 174, 97);
}
.orange1 {
  background-color: rgb(254, 178, 76);
}
.orange2 {
  background-color: rgb(253, 141, 60);
}
.orange3 {
  background-color: rgb(252, 78, 42);
}
.red {
  background-color: rgb(215, 25, 28);
}
.red1 {
  background-color: rgb(227, 26, 28);
}
.veryUnhealthyRed {
  background-color: rgb(189, 0, 38);
}
.veryUnhealthyRed1 {
  background-color: rgb(189, 0, 38);
}
.hazardousRed {
  background-color: rgb(166, 54, 3);
}
.hazardousRed1 {
  background-color: rgb(128, 0, 38);
}

.dot {
  border-radius: 10px;
  border: 3px solid #FFFFFF;
}
.dot.green {
  background-color: rgb(166, 217, 106);
}
.dot.yellow {
  background-color: rgb(255, 255, 191);
}
.dot.orange {
  background-color: rgb(253, 174, 97);
}
.dot.red {
  background-color: rgb(215, 25, 28);
}
.dot.veryUnhealthyRed {
  background-color: rgb(189, 0, 38);
}
.dot.hazardousRed {
  background-color: rgb(166, 54, 3);
}
.dot.noColor {
  background-color: rgba(255, 255, 255, 0);
}
.dot.green.notPartOfGroup {
  background-color: rgb(166, 217, 106, 0.1);
}
.dot.yellow.notPartOfGroup {
  background-color: rgb(255, 255, 191, 0.1);
}
.dot.orange.notPartOfGroup {
  background-color: rgb(253, 174, 97, 0.1);
}
.dot.red.notPartOfGroup {
  background-color: rgb(215, 25, 28, 0.1);
}
.dot.veryUnhealthyRed.notPartOfGroup {
  background-color: rgb(189, 0, 38, 0.1);
}
.dot.hazardousRed.notPartOfGroup {
  background-color: rgb(166, 54, 3, 0.1);
}
.dot.noColor.notPartOfGroup {
  background-color: rgba(255, 255, 255, 0);
}

.dot.sensor-selected {
  border: 3px solid #000000;
}

.dot.partOfGroup-border {
  border: 3px solid #808080;
}

#timelineControls {
  position: absolute;
  top: 30px;
  right: 10px;
  padding: 5px;
  background-color: rgba(255,255,255,0.7);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

#timelineControls label {
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  color: #555;
  margin: 0px 10px 10px 2px;
}

#sensorDataSearch {
  width: 60px;
}

#search label {
  margin: 0px;
}

#clearDataButton {
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  color: #555;
  margin: 0px 10px 0px 0px;
}

input:invalid ~ span.validity:after {
    content: '✖';
    padding-left: 5px;
    position: absolute;
}

input:valid ~ span.validity:after {
    content: '✓';
    padding-left: 5px;
    position: absolute;
}

#clearDataButton:hover, #clearDataButton:active {
  text-decoration: underline #c00;
}

#errorInformation {
  font-family: 'Open Sans',sans-serif;
  font-size: 7pt;
  color: #555;
}

/* Popup */
.sensorInformationPopup .leaflet-popup-content-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  box-shadow: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 8pt;
  border-radius: 0px;
  padding: 0px;
}

.sensorInformationPopup.leaflet-popup {
  margin-bottom: 5px;
}

.sensorInformationPopup .leaflet-popup-content {
  margin: 0px 5px 13px 5px;
}

.sensorInformationPopup .leaflet-popup-tip-container {
  display: none;
}

#closeLegendButton {
  position: absolute;
  top: 0px;
  right: 0px;
}

#closeTimelineControlButton {
  position: absolute;
  top: 0px;
  right: 0px;
}

#closeTimelineButton {
  position: absolute;
  top: 5px;
  left: 10px;
}

.customButton {
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  line-height: 26px;
  border: 2px solid rgba(0,0,0,0.4);
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.customButton a {
  display: block;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.customButton a:hover {
  background-color: #f2f2f2;
}

.customButton:hover {
  background-color: #f2f2f2;
}

#openTimelineControlButton {
  position: absolute;
  top: 28px;
  right: 10px;
  font-size: 12px;
}

.aqu_icon {
  position: absolute;
  top: 4px;
  left: 5px;
  background-color: #fff;
  color: #000;
  font-size: 1.5em;
}

.aqu_icon_close {
  font-size: 1.5em
}

.reappearingButton:hover {
  background-color: #f2f2f2;
}

.moreInfo {
  font-size: 1.5em;
}

#numberOf_AirU {
  padding-left: 10px;
}

#numberOf_PurpleAir {
  padding-left: 10px;
}

#numberOf_DAQ{
  padding-left: 10px;
}

/* TIMELINE */
#timeline {
  position: absolute;
  padding: 0px 5px 0px;
  z-index: 1025;
  width: 100%;
  bottom: 0;
  background-color: #ffffff;
  height: 37%;
}

/* SLIDER */
.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: grab;
}

.handle {
  fill: #c00;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.ticks {
  font: 10px sans-serif;
}

#contourTime {
  fill: #c00;
}

.leaflet-verticalcentertop {
  position: absolute;
  z-index: 1000;
  top: 6%;
  transform: translateY(-10%);
  padding-top: 10px;
}

.leaflet-verticalcentertop .leaflet-control {
  margin-bottom: 10px;
}

.leaflet-verticalcenterbottom {
  position: absolute;
  z-index: 1000;
  top: 50%;
  transform: translateY(50%);
  padding-top: 10px;
}

.leaflet-verticalcenterbottom .leaflet-control {
  margin-bottom: 10px;
}

#legend {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  height: 447px;
  float: left;
  margin-right: 8px;
  opacity: 0.9;
  padding: 6px 8px;
  background: white;
  display: inline-block;
  min-width: 117px;
}

#legend label.sensorType {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 8pt;
  color: #555;
  line-height: 18px;
  margin: 0px 0px 0px 5px;
  display: block;
}

.notSelectedLabel {
  padding-right: 5px;
  color: #ffffff;
}

.selectedLabel {
  padding-right: 5px;
  color: #808080;
}

#labelContainer {
  margin-top: 15px;
}

.theHR {
  margin: 10px 0px 5px;
}

#colorLegend .legendTitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 8pt;
  line-height: 18px;
  margin-bottom: 1.5em;
}
#colorLegend label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 8pt;
  color: #555;
  line-height: 18px;
  margin: 0pt;
}
#colorLegend label i {
  width: 18px;
  height: 18px;
  float: left;
  padding: 2px 0px;
  margin-right: 8px;
}
.colorLegendLabel {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 8pt;
  color: #555;
  margin: 0px;
  display: block;
}

.tickLegend {
  display: inline-block;
  position:relative;
  left: -5px;
}

.colorBar {
  width: 18px;
  display: inline-block;
  border: 1px solid #000;
}

#green1 {
  height: 12px;
}

#green2 {
  height: 12px;
}

#green3 {
  height: 12px;
}

#yellow1 {
  height: 18px;
}

#yellow2 {
  height: 18px;
}

#yellow3 {
  height: 18px;
}

#orange1 {
  height: 16px;
}

#orange2 {
  height: 16px;
}

#orange3 {
  height: 16px;
}

#red1 {
  height: 40px;
}

#veryUnhealthyRed1 {
  height: 40px;
}

#hazardousRed1 {
  height: 34px;
}

.dot.dblclickOnMap {
  background-color: rgb(55, 126, 184);
}

#PM25level {
  margin-bottom: 5px;
}

#tickLegend_0 {
  bottom: -5px;
  left: -25px;
}

#tickLegend_4 {
  bottom: 11px;
}

#tickLegend_8 {
  bottom: 11px;
}

#tickLegend_12 {
  bottom: 11px;
}

#tickLegend_20 {
  bottom: 17px;
}

#tickLegend_28 {
  bottom: 17px;
}

#tickLegend_35 {
  bottom: 15px;
}

#tickLegend_42 {
  bottom: 15px;
}

#tickLegend_49 {
  bottom: 15px;
}

#tickLegend_55 {
  bottom: 15px;
}

#tickLegend_150 {
  bottom: 39px;
}

#tickLegend_250 {
  bottom: 39px;
}

#tickLegend_350 {
  bottom: 33px;
}

.line-style {
  fill: none;
  stroke: #aaa;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1px;
}
@media(min-width: 992px) {
  .col-md-6 {
    width: 30%;
    margin-bottom: 120px;
  }
}

.logoRow {
  text-align: center;
}

.navbar {
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar .navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.main-raised{
  margin-top: -140px;
}
.carousel-indicators{
  margin-bottom: 660px;
}


/* The start of the css for multi-line voronoi from mike bostock's example */
.axis--y path {
  display: none;
}

.hover {
  stroke: #000;
}

.focus circle {
  fill: none;
  stroke: black;
}

.focus text {
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.voronoi path {
  fill: none;
  pointer-events: all;
}

#form {
  position: absolute;
  top: 20px;
  right: 30px;
}

.tooltip {
  pointer-events:none;
  position: absolute;
  background: #000;
  color: #FFF;
  border-radius: 5px;
  padding: 5px 7px;
  width: 170px;
  height: 110px;
}

.tooltip:before{
  border: solid;
  border-color: #000 transparent;
  border-width: 6px 6px 0 6px;
  top: 110px;
  content: "";
  left: 8px;
  position: absolute;
  z-index: 99;
}

.tooltip.rightTriangle:before{
  border-top: 6px solid transparent;
  border-left: 6px solid black;
  border-bottom: 6px solid transparent;
  content: "";
  position: absolute;
  z-index: 99;
  top: 12px;
  left: 170px;
}

.tooltipText {
  font-family: 'Open Sans', sans-serif;
  font-size: 8pt;
  margin: 5px 0px;
}

.tooltip.hidden {
  opacity: 0;
}

.tooltip.show {
  opacity: 1;
}

.hide {
  display: none;
}
