{% extends "base.html" %}
{% block body %}
{% block project %}active{% endblock %}
<div class="main main-raised">
    <section class="py-5" id="project">
        <div class="container pushContainerDown">
            <div class="row">
	<!-- <div class="col-md-8 col-md-offset-2"> -->
              <div class="col-md-12">
                <h2 class="title inTheCenter">AirU Sensor</h2>

                <h3 class="title inTheCenter">Manual</h3>

                <p class="description">Here you can find the latest release of the manual:</p>

                <p><a href="">manual</a></p>

	            </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
