{% extends "base.html" %}
{% block body %}
{% block newsroom %}active{% endblock %}
<div class="main main-raised">
	<section class="py-5" id="newsroom">
		<div class="container pushContainerDown">
	<!-- <div class="container pushContainerDown"> -->
	<!-- <div class="row"> -->
		<!-- <div class="col-md-8 col-md-offset-2"> -->
		<div class="col-md-12 col-md-offset-2">
			<h2 class="title inTheCenter">In the Media</h2>

			<h3 class="title inTheCenter">August 9th, 2018</h3>
			<!-- <p class="description-centered"> -->
			<p class="description">
				On August 9th, we participated in the Westpoint neighborhood’s night out: <a href="https://www.facebook.com/events/278377059295992/">West Point's National Night Out</a>
			</p>

			<br />

			<h3 class="title inTheCenter">August 1st, 2018</h3>
			<!-- <p class="description-centered"> -->
			<p class="description">
				The AQ&U team partnered with the University ACCESS program to engage incoming female freshmen in STEM. This work is highlighted in an August 1st interview on <a href="https://krcl.org/blog/radioactive-august-1-2018/">radioactive</a>:
			</p>
			<div class='newsroom_image'>
				<img class="newsroom_big" src="./static/img/Kerry-Katrina-radio-smaller.jpg">
			</div>

			<div class='newsroom_soundcloud'>
				<iframe class="soundcloud" width="70%" height="125" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/479969094&amp;color=%23ff5500"></iframe>
			</div>

			<br />

			<h3 class="title inTheCenter">November 2nd, 2017</h3>
			<!-- <p class="description-centered"> -->
			<p class="description">
				On November 2nd, <a href="{{ url_for('team') }}">Kerry</a> and <a href="{{ url_for('team') }}">Miriah</a> went on the air with <a href="https://krcl.org/blog/radioactive-november-2-2017/">KRCL</a> to talk about AQ&U, indoor air quality, and just what our project means for the public. Listen here (starting at 32 minutes in):
			</p>

			<div class='newsroom_image'>
				<img class="newsroom_big" src="./static/img/miriah-kerry-radio.jpg">
			</div>

			<div class='newsroom_soundcloud'>
				<iframe class="soundcloud" width="70%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/350429788&amp;color=ff5500"></iframe>
			</div>

			<br />
			<br />

			<h3 class="title inTheCenter">Why We're All a-Twitter <a href="https://twitter.com/AirQualityAndU" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a></h3>

			<div class="inTheCenter">
			<a class="twitter-timeline" href="https://twitter.com/AirQualityAndU?ref_src=twsrc%5Etfw" data-width="500" data-tweet-limit="15">>Tweets by AirQualityAndU</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>

			<!-- <h3 class="description" style="font-size: 20"> Add any other articles, embedded files, etc. here. You can follow the format above. Any questions? Email Aspen at akh0901@westminstercollege.edu</h3> -->

		</div>
	</div>
	<!-- </div> -->
		<!-- </div> -->
	</section>
</div>
{% endblock %}
