{% extends "base.html" %}
{% block body %}
{% block project %}active{% endblock %}
<div class="main main-raised">
  <section class="py-5" id="project">
    <div class="container pushContainerDown">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title inTheCenter">In the Works</h2>

          <p class="description">We're working on a couple of different projects right now. Scroll down to learn more
            about what we're doing, how we're doing it, and the big questions motivating it all</p>

          <br/>

          <h3 class="title inTheCenter">The Projects</h3>

          <p class="description"> Expand on the following: Outdoor Project, School Project, and the Indoor Air Project
          </p>

          <h3 class="title inTheCenter">The Science</h3>

          <p class="description">We're taking a three-pronged approach to our work here at AQ &amp U;</p>

          <h3> 1. Sensor Design and Performance</h3>
          <p> We are beginning by developing a network of low-cost, air-quality sensors based on commercially available
            components. These networked sensors will be deployed to complement the Utah <a
              href="https://deq.utah.gov/Divisions/daq/index.htm">Division of Air Quality</a>'s regulatory monitoring
            stations and community-based networks, like <a href="https://www.purpleair.com">PurpleAir</a>. Over the
            coming years, our sensors will evolve into to distributed, wearable air-quality sensors and systems. This
            strategy allows to begin collecting data immediately and to augment this data as our sensor technology
            improves. Our goal is to move to a fully passive, particulate matter sensor that costs a few dollars and
            communicates via RFID.</p>

          <p>Because of the uncertain quality of measurements from low-cost sensors, we are using a three-pronged
            approach for sensor validation:</p>
          <ul>
            <li>1) a rigorous laboratory evaluation in a</li>
            <li>2) in situ field validation with gold-standard instrumentation, and</li>
            <li>3) rapid pre-deployment sensor validation.</li>
          </ul>

          <br/>
          <br/>
          <img src="static/img/AirUHouse.jpg" width="300">

          <img src="static/img/CalibrationChamber.jpg" width="200">

          <h3 class="description">2. Integration of Data</h3>

          <h3 class="description">3. Communication</h3>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}