{% extends "base.html" %}
{% block body %}
{% block project %}active{% endblock %}
<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<h1 class="title"> In the Works</h1>
		<h4 class="description"> We're working on a couple of different projects right now. Scroll down to learn more about what we're doing, how we're doing it, and the big questions motivating it all</h4>
		<br />
		<h3 class="title">The Projects</h3>
		<h4 class="description"> Expand on the following: Outdoor Project, School Project, and the Indoor Air Project</h4>
		<h3 class="title">The Science</h3>
		<h4 class="description">We're taking a three-pronged approach to our work here at AQ &amp; U:</h4>
		<h6 class="description"> 1. Sensor Design &amp; Performance,</h6>
		<h6 class="description"> 2. Integration of Data, &amp;</h6>
		<h6 class="description">  3. Communication</h6>

        <p> Please build on the previously stated items, and include any images you need. Here's an example of how to do that: <img src="images/bad_air_1610.jpg" width="100"> If you have questions, or want me to format it, email me at: akh0901@westminstercollege.edu.
	</div>
</div>
{% endblock %}
