{% extends "base.html" %}
{% block body %}
{% block team %}active{% endblock %}
<!-- <div class="section text-center">
	<div class="main main-raised"> -->
		<!-- <div class="section text-center section-landing"> -->
<section class="py-5" id="about">
    <div class="container">
        <div class="row">
        	<!-- <div class="col-md-8 col-md-offset-2"> -->
            <div class="col-md-12">

                <h1 class="title"> Meet the Team </h1>

                <div class="team">
					<div class="row">
						<!-- <div class="team-player"> -->
							<div class="col-sm-2 centerBlock">
								<img src="./static/img/miriah.jpg" alt="Thumbnail Image" class="img-raised img-circle" width="100px">
							</div>
							<div class="col-sm-2 centerBlock">
								<span class="title">Miriah Meyer</span>
							</div>
							<div class="col-sm-2 centerBlock">
                                <span class= "description">Principle Investigator</span>
                            </div>
							<div class="col-sm-5 centerBlock">
								<span>Miriah Meyer is an American computer scientist and USTAR professor at the University of Utah.</span>
							</div>
							<div class="col-sm-1 centerBlock">
								<a href="https://twitter.com/miriah_meyer" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
								<a href="https://en.wikipedia.org/wiki/Miriah_Meyer" class= "btn btn-simple btn-just-icon"><i class="fa fa-wikipedia-w"></i></a>
						    </div>
					    <!-- </div> -->
				    </div>
										<!-- changes required -->
					<div class="row">
						<!-- <div class="team-player"> -->
							<div class="col-sm-2 centerBlock">
								<img src="./static/img/kerry.jpg" alt="Thumbnail Image" class="img-raised img-circle" width="100px">
							</div>
							<div class="col-sm-2 centerBlock">
								<span class="title">Kerry Kelly</span>
							</div>
							<div class="col-sm-2 centerBlock">
								<span class= "description">Principle Investigator</span>
							</div>
							<div class="col-sm-5 centerBlock">
								<span>Stuff. </span>
							</div>
							<div class="col-sm-1">
								<a href="https://twitter.com/miriah_meyer" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
								<a href="https://en.wikipedia.org/wiki/Miriah_Meyer" class= "btn btn-simple btn-just-icon"><i class="fa fa-wikipedia-w"></i></a>
							</div>
						<!-- </div> -->
					</div>
											<!-- changes required -->
					<div class="row">
						<!-- <div class="team-player"> -->
							<div class="col-sm-2 centerBlock">
								<img src="./static/img/ross.jpg" alt="Thumbnail Image" class="img-raised img-circle" width="100px">
							</div>
							<div class="col-sm-1 centerBlock">
								<span class="title">Ross Whitaker</span>
							</div>
							<div class="col-sm-3 centerBlock">
								<span class= "description">Principle Investigator</span>
							</div>
							<div class="col-sm-5 centerBlock">
								<span>stuff</span>
							</div>
							<div class="col-sm-1">
								<a href="https://twitter.com/miriah_meyer" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
								<a href="https://en.wikipedia.org/wiki/Miriah_Meyer" class= "btn btn-simple btn-just-icon"><i class="fa fa-wikipedia-w"></i></a>
							</div>
						<!-- </div> -->
					</div>
												<!-- changes required -->
					<div class="row">
						<!-- <div class="team-player"> -->
							<div class="col-sm-2 centerBlock">
								<img src="./static/img/pierre.jpg" alt="Thumbnail Image" class="img-raised img-circle" width="100px">
							</div>
							<div class="col-sm-1 centerBlock">
								<span class="title">Pierre-Emmanuel Gaillardon</span>
							</div>
							<div class="col-sm-3 centerBlock">
								<span class= "description">Principle Investigator</span>
							</div>
							<div class="col-sm-5 centerBlock">
								<span>Hey </span>
							</div>
							<div class="col-sm-1">
								<a href="https://twitter.com/miriah_meyer" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
								<a href="https://en.wikipedia.org/wiki/Miriah_Meyer" class= "btn btn-simple btn-just-icon"><i class="fa fa-wikipedia-w"></i></a>
							</div>
						<!-- </div> -->
					</div>
						<!-- changes required -->
					<div class="row">
						<!-- <div class="team-player"> -->
							<div class="col-sm-2 centerBlock">
								<img src="./static/img/aspen.jpg" alt="Thumbnail Image" class="img-raised img-circle" width="100px">
							</div>
							<div class="col-sm-1 centerBlock">
								<span class="title">Aspen Hopkins</span>
							</div>
							<div class="col-sm-3 centerBlock">
								<span class= "description">Research Staff</span>
							</div>
							<div class="col-sm-5 centerBlock">
								<span>hey </span>
							</div>
							<div class="col-sm-1">
								<a href="https://twitter.com/miriah_meyer" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
								<a href="https://en.wikipedia.org/wiki/Miriah_Meyer" class= "btn btn-simple btn-just-icon"><i class="fa fa-wikipedia-w"></i></a>
							</div>
						<!-- </div> -->
					</div>
										<!-- changes required -->
					<div class="row">
						<!-- <div class="team-player"> -->
							<div class="col-sm-2 centerBlock">
								<img src="./static/img/pascal.jpg" alt="Thumbnail Image" class="img-raised img-circle" width="100px">
							</div>
							<div class="col-sm-1 centerBlock">
								<span class="title">Pascal Goffin</span>
							</div>
							<div class="col-sm-3 centerBlock">
								<span class= "description"> Research Staff</span>
							</div>
							<div class="col-sm-5 centerBlock">
								<span>Pascal </span>
							</div>
							<div class="col-sm-1">
								<a href="https://twitter.com/miriah_meyer" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
								<a href="https://en.wikipedia.org/wiki/Miriah_Meyer" class= "btn btn-simple btn-just-icon"><i class="fa fa-wikipedia-w"></i></a>
							</div>
						<!-- </div> -->
					</div>
								<!-- changes required -->
					<div class="row">
						<!-- <div class="team-player"> -->
							<div class="col-sm-2 centerBlock">
								<img src="./static/img/miriah.jpg" alt="Thumbnail Image" class="img-raised img-circle" width="100px">
							</div>
							<div class="col-sm-1 centerBlock">
								<span class="title">Kyle Tingey</span>
							</div>
							<div class="col-sm-3 centerBlock">
								<span class= "description">Research Staff</span>
							</div>
							<div class="col-sm-5 centerBlock">
								<span>Miriah Meyer is an American computer scientist and USTAR professor at the University of Utah. </span>
							</div>
							<div class="col-sm-1">
								<a href="https://twitter.com/miriah_meyer" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
								<a href="https://en.wikipedia.org/wiki/Miriah_Meyer" class= "btn btn-simple btn-just-icon"><i class="fa fa-wikipedia-w"></i></a>
							</div>
						<!-- </div> -->
					</div>
									<!-- changes required -->
					<div class="row">
						<!-- <div class="team-player"> -->
							<div class="col-sm-2 centerBlock">
								<img src="./static/img/miriah.jpg" alt="Thumbnail Image" class="img-raised img-circle" width="100px">
							</div>
							<div class="col-sm-1 centerBlock">
								<span class="title">Tom Becnel</span>
							</div>
							<div class="col-sm-3 centerBlock">
								<span class= "description">Research Staff</span>
							</div>
							<div class="col-sm-5 centerBlock">
								<span>Miriah Meyer is an American computer scientist and USTAR professor at the University of Utah. </span>
							</div>
							<div class="col-sm-1 centerBlock">
								<a href="https://twitter.com/miriah_meyer" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
								<a href="https://en.wikipedia.org/wiki/Miriah_Meyer" class= "btn btn-simple btn-just-icon"><i class="fa fa-wikipedia-w"></i></a>
							</div>
						<!-- </div> -->
					</div>
					<!-- To add a new team member: copy and past the following html, change the names, the image source, and add a description + any links wanted.  -->
					<!-- changes required -->
					<div class="row">
						<!-- <div class="team-player"> -->
							<div class="col-sm-2 centerBlock">
								<img src="./static/img/miriah.jpg" alt="Thumbnail Image" class="img-raised img-circle" width="100px">
							</div>
							<div class="col-sm-1 centerBlock">
								<span class="title">Amir Biglari</span>
							</div>
							<div class="col-sm-3 centerBlock">
								<span class= "description">Research Staff</span>
							</div>
							<div class="col-sm-5 centerBlock">
								<span>Miriah Meyer is an American computer scientist and USTAR professor at the University of Utah. </span>
							</div>
							<div class="col-sm-1">
								<a href="https://twitter.com/miriah_meyer" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
								<a href="https://en.wikipedia.org/wiki/Miriah_Meyer" class= "btn btn-simple btn-just-icon"><i class="fa fa-wikipedia-w"></i></a>
							</div>
						<!-- </div> -->
					</div>
                </div>
            <!-- </div> -->
        </div>
    </div>
</section>
{% endblock %}
