{% extends "base.html" %}
{% block body %}
{% block team %}active{% endblock %}
<div class="main main-raised overFooter">
  <section class="py-5" id="team">
    <div class="container pushContainerDown">
      <div class="col-md-12">

        <h2 class="title inTheCenter"> Meet the Team </h2>

        <div class="team">
          <!-- changes required -->
          <div class="row portrait">
            <div class="col-sm-2 centerBlock">
              <img src="./static/img/pierre02.png" alt="Thumbnail Image" class="img-raised img-circle" width="100px">
            </div>
            <div class="col-sm-2 centerBlock">
              <span class="title"><a class="name"
                  href="https://faculty.utah.edu/u6001662-PIERRE-EMMANUEL_GAILLARDON/research/index.hml">Pierre-Emmanuel
                  Gaillardon</a></span>
            </div>
            <div class="col-sm-2 centerBlock">
              <span class="function">Principle Investigator</span>
            </div>
            <div class="col-sm-5 centerBlock">
              <span class="description smaller">Pierre-Emmanuel Gaillardon is an assistant professor in the Electrical
                and Computer Engineering (ECE) department at The University of Utah, Salt Lake City, UT. He leads the
                Laboratory for <a href="https://sites.google.com/site/pegaillardon/">NanoIntegrated Systems
                  (LNIS)</a>.</span>
            </div>
          </div>
          <!-- changes required -->
          <div class="row portrait">
            <div class="col-sm-2 centerBlock">
              <img src="./static/img/kerry02.png" alt="Thumbnail Image" class="img-raised img-circle" width="100px">
            </div>
            <div class="col-sm-2 centerBlock">
              <span class="title"><a class="name"
                  href="https://www.che.utah.edu/department/people/faculty/kerry_kelly">Kerry Kelly</a></span>
            </div>
            <div class="col-sm-2 centerBlock">
              <span class="function">Principle Investigator</span>
            </div>
            <div class="col-sm-5 centerBlock">
              <span class="description smaller">Kerry Kelly is an Assistant Professor of Chemical Engineering and the
                Associate Director of the Program for Air Quality, Health and Society. Her research focuses on
                air-quality, energy, and the health effects of combustion particles. Beyond research, Kerry has
                extensive policy experience, having served 8 years on the state air quality board, and she has recently
                been appointed by the governor and then elected to chair the state air quality policy board.</span>
            </div>
          </div>

          <div class="row portrait">
            <div class="col-sm-2 centerBlock">
              <img src="./static/img/miriah.jpg" alt="Thumbnail Image" class="img-raised img-circle" width="100px">
            </div>
            <div class="col-sm-2 centerBlock">
              <span class="title"><a class="name" href="https://www.cs.utah.edu/~miriah/">Miriah Meyer</a></span>
            </div>
            <div class="col-sm-2 centerBlock">
              <span class="function">Principle Investigator</span>
            </div>
            <div class="col-sm-5 centerBlock">
              <span class="description smaller">Miriah Meyer is the recipient of a NSF CAREER grant, a Microsoft
                Research Faculty Fellowship, and a NSF/CRA Computing Innovation Fellow award. She was named a University
                of Utah Distinguished Alumni, both a TED Fellow and a PopTech Science Fellow, and included on MIT
                Technology Review's TR35 list of the top young innovators. Miriah is widely recognized for her expertise
                and pioneering research in interactive visualization.</span>
            </div>
          </div>
          <!-- changes required -->
          <div class="row portrait">
            <div class="col-sm-2 centerBlock">
              <img src="./static/img/ross02.png" alt="Thumbnail Image" class="img-raised img-circle" width="100px">
            </div>
            <div class="col-sm-2 centerBlock">
              <span class="title"><a class="name" href="http://www.cs.utah.edu/~whitaker/">Ross Whitaker</a></span>
            </div>
            <div class="col-sm-2 centerBlock">
              <span class="function">Principle Investigator</span>
            </div>
            <div class="col-sm-5 centerBlock">
              <span class="description smaller">Ross is a SCI Faculty Member, a Professor of Computer Science, and the
                Director of the University of Utah's School of Computing. He leads a graduate-level research group in
                image analysis, geometry processing, and scientific computing, with a variety of projects supported by
                both federal agencies and industrial contracts.</span>
            </div>
          </div>
          <!-- changes required -->
          <div class="row portrait">
            <div class="col-sm-2 centerBlock">
              <img src="./static/img/tom02.png" alt="Thumbnail Image" class="img-raised img-circle" width="100px">
            </div>
            <div class="col-sm-2 centerBlock">
              <span class="title">Tom Becnel</span>
            </div>
            <div class="col-sm-2 centerBlock">
              <span class="function">Research Staff</span>
            </div>
            <div class="col-sm-5 centerBlock">
              <span class="description"></span>
            </div>
          </div>
          <!-- changes required -->
          <div class="row portrait">
            <div class="col-sm-2 centerBlock">
              <img src="./static/img/amir02.png" alt="Thumbnail Image" class="img-raised img-circle" width="100px">
            </div>
            <div class="col-sm-2 centerBlock">
              <span class="title"><a class="name" href="https://www.sci.utah.edu/people/amir.html">Amir
                  Biglari</a></span>
            </div>
            <div class="col-sm-2 centerBlock">
              <span class="function">Research Staff</span>
            </div>
            <div class="col-sm-5 centerBlock">
              <span class="description"></span>
            </div>
          </div>
          <!-- changes required -->
          <div class="row portrait">
            <div class="col-sm-2 centerBlock">
              <img src="./static/img/pascal02.png" alt="Thumbnail Image" class="img-raised img-circle" width="100px">
            </div>
            <div class="col-sm-2 centerBlock">
              <span class="title"><a class="name" href="http://vdl.sci.utah.edu/persons/pgoffin/">Pascal
                  Goffin</a></span>
            </div>
            <div class="col-sm-2 centerBlock">
              <span class="function"> Research Staff</span>
            </div>
            <div class="col-sm-5 centerBlock">
              <span class="description"></span>
            </div>
          </div>
          <!-- changes required -->
          <div class="row portrait">
            <div class="col-sm-2 centerBlock">
              <img src="./static/img/aspen.jpg" alt="Thumbnail Image" class="img-raised img-circle" width="100px">
            </div>
            <div class="col-sm-2 centerBlock">
              <span class="title">Aspen Hopkins</span>
            </div>
            <div class="col-sm-2 centerBlock">
              <span class="function">Research Staff</span>
            </div>
            <div class="col-sm-5 centerBlock">
              <span class="description"></span>
            </div>
          </div>
          <!-- changes required -->
          <div class="row portrait">
            <div class="col-sm-2 centerBlock">
              <img src="./static/img/tofigh.png" alt="Thumbnail Image" class="img-raised img-circle" width="100px">
            </div>
            <div class="col-sm-2 centerBlock">
              <span class="title">Tofigh Sayahi</span>
            </div>
            <div class="col-sm-2 centerBlock">
              <span class="function">Research Staff</span>
            </div>
            <div class="col-sm-5 centerBlock">
              <span class="description"></span>
            </div>
          </div>
          <!-- changes required -->
          <div class="row portrait">
            <div class="col-sm-2 centerBlock">
              <img src="./static/img/kyle02.png" alt="Thumbnail Image" class="img-raised img-circle" width="100px">
            </div>
            <div class="col-sm-2 centerBlock">
              <span class="title">Kyle Tingey</span>
            </div>
            <div class="col-sm-2 centerBlock">
              <span class="function">Research Staff</span>
            </div>
            <div class="col-sm-5 centerBlock">
              <span class="description"></span>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>
{% endblock %}